<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">

</head>
<body>
    <header>
        <div class=image-container>
        <img class="img" src="{% static 'images\axolotl.png' %}" alt=Axolotl>
        </div>
        <div class="container">
            <button class="main-button" onclick="window.location.href='{% url 'Home' %}'">Főoldal</button>
            <button class="main-button" onclick="window.location.href='{% url 'Matricák' %}'">Matricák</button> 
            <button class="main-button" onclick="window.location.href='{% url 'test' %}'">Teszt</button>
        </div>

        <script src="{% static 'js/clock.js' %}"></script>

    </header>

    <h1>Köszöntelek a weboldalon</h1>
    <p>Ezen az oldalon lesz minden ami a főoldalra kell</p>
    <button class="btn" onclick="window.location.href='{% url 'Matricák' %}'">Matricák</button>
    <p>Ez is ugyan ilyen?</p>
    <button class="btn" onclick="window.location.href='{% url 'test' %}'">Teszt</button>
    <footer>
        <p>&copy; 2024 Firtha Webpage</p>
    </footer>
</body>
</html>
