body {
    background-color: #1c7523;
    font-family: Arial, sans-serif;
}

h1 {
    color: #d0db34;
    text-align: center;
}

p {
    color: pink;
    text-align: center;
    font-family: 'Times New Roman';

}