.btn {
    background-color: lime;
}
body {
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: #d0db34;
    text-align: center;
}

p {
    color: red;
    text-align: center;
    font-family: 'Times New Roman';

}
.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.clock {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: right;
}

.main-button {
    font-size: 18px;
    margin: 0;
    background: none;
    border: 0;
    color: white;
}

.main-button:hover{
    text-decoration: underline;
}

header{
    padding: 1px 0;
    background-color: black;
}

footer{
    background-color: blue;
    padding: 5px;
}